/* Defaults */

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: HSLA(204, 83%, 14%, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h1, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  color: HSLA(205, 9%, 38%, 1);
  line-height: 1.6em;
}

p a {
  text-decoration: underline;
  color: HSLA(205, 18%, 68%, 1);
}

p a:hover {
  color: HSLA(209, 100%, 33%, 1);
}

blockquote {
  /* -webkit-margin-before: 1em; */
  /* -webkit-margin-after: 1em; */
  -webkit-margin-start: 0;
  /* -webkit-margin-end: 40px; */
  color: HSLA(209, 100%, 33%, 1);
  text-transform: uppercase;
  font-size: 1.8em;
  padding-left: 20px;
  border-left: HSLA(205, 18%, 68%, 1) solid 2px;
  line-height: 2em;
}

/* Container */

.wrapper {
  width: 1300px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}


/* Header */

header {
  background-image: url("../img/header.jpg");
  background-color: blue;
  height: 523px;
  overflow: auto;
}

.nav {
  overflow: auto;
  vertical-align: middle;
  margin-top: 10px;
}

.logo {
  float: left;
}

.logo img {
  vertical-align: middle;
}

.logo span {
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 12px;
}

.nav-links {
  padding-top: 10px;
}

.nav-links span {
  float: right;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.nav-links img {
}

header h2 {
  text-transform: uppercase;
  color: white;
  font-size: 6em;
  text-align: center;
  margin-top: 100px;
}

header p {
  text-align: center;
}


/* Post */

article {
  float: left;
  width: 72%;
  padding-right: 10%;
  margin-top: 60px;
}

aside {
  float: right;
  width: 28%;
  margin-top: 60px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.2em;
}

.post-author {
  margin-bottom: 40px;
  font-size: .8em;
}

.post-author li{
  display: inline-block;
  vertical-align: middle;
}

.post-author img {
  width: 24px;
  vertical-align: middle;
}

.post-name {
  color: HSLA(209, 100%, 33%, 1);
  margin-left: 4px;
}

.post-date {
  color: HSLA(205, 18%, 68%, 1);
  margin-left: 8px;
}

.post-options {
  margin-top: 20px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  font-size: .8em;
}

.post-options li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  background-color: HSLA(205, 9%, 38%, 1);
  height: 28px;
}

.post-options img {
  vertical-align: middle;
  padding: 7px 5px 7px 8px;
}

.post-options span {
  background-color: HSLA(205, 18%, 68%, 1);
  color: white;
  vertical-align: middle;
  line-height: 28px;
  padding: 6px 17px 6px 12px;
}

.post-options li:hover {
  background-color: HSLA(204, 83%, 14%, 1);
}

.post-options li:hover span {
  background-color: HSLA(209, 100%, 33%, 1);
}


/* Aside */

.author {
  text-align: center;
}

.author h3 {
  color: HSLA(209, 100%, 33%, 1);
  text-transform: uppercase;
}

.author-social li {
  display: inline-block;
  color: HSLA(205, 18%, 68%, 1);
  font-size: .8em;
  padding: 0 4px;
}

.ad {
  margin-top: 50px;
}

.ad img {
  width: 100%;
}

.ad a {
  color: HSLA(205, 18%, 68%, 1);
  font-size: .8em;
  float: right;
}

.sidebar {
  clear: both;
  margin-top: 50px;
}

.sidebar h3 {
  color: HSLA(209, 100%, 33%, 1);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}


/* Most Popular */

section {
  width: 100%;
  clear: both;
}

section ul {
  height: 330px;
}
