$dark-blue: HSLA(204, 83%, 14%, 1);
$light-blue: HSLA(209, 100%, 33%, 1);

$blue-70p: HSLA(209, 100%, 33%, .7);
$blue-0p: HSLA(209, 100%, 33%, 0);

$grey: HSLA(205, 9%, 38%, 1);
$light-grey: HSLA(205, 18%, 68%, 1);
