/* Partials */

@import "colors";

@import "fonts";


* {
  font-family: $opensans;
  font-size: 1em;
  color: $dark-blue;;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h1, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: $dark-blue;
  line-height: 1.65em;
}

a {
  text-decoration: underline;
  color: $light-grey;
}

a:hover {
  color: $light-blue;
}

blockquote {
  -webkit-margin-before: .8em;
  /* -webkit-margin-after: 1em; */
  -webkit-margin-start: .2em;
  /* -webkit-margin-end: 40px; */
  color: $light-blue;
  text-transform: uppercase;
  font-size: 1.7em;
  padding-left: 18px;
  border-left: $light-grey solid 2px;
  line-height: 2em;
}

/* Container */

.wrapper {
  width: 1300px;
}

.container {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container.extra-wide {
  max-width: 1020px;
}


/* Header */

header {
  background-image: url("../img/header.jpg");
  background-color: $dark-blue;;
  height: 523px;
  overflow: auto;

  h2 {
    text-transform: uppercase;
    color: white;
    font-size: 6.2em;
    text-align: center;
    margin-top: 157px;
    -webkit-margin-after: 0;
    line-height: .98em;
    letter-spacing: -2px;
  }

  p {
    text-align: center;
    color: $dark-blue;;
  }

}

.nav {
  overflow: auto;
  vertical-align: middle;
  margin-top: 10px;
  padding-right: 28px;

  .logo {
    float: left;

    img {
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
      text-transform: uppercase;
      margin-left: 12px;
    }

  }

  .nav-links {
    padding-top: 8px;
    float: right;

    a {
      font-family: $oswald;
      text-transform: uppercase;
      font-size: 1.12em;
      margin-left: 8px;
      color: $dark-blue;;
      text-decoration: none;
    }

    a:hover {
      color: white;
    }

    img {
      margin-left: 7px;
    }

  }

}


/* Post */

article {
  float: left;
  width: 72%;
  padding-right: 10%;
  margin-top: 62px;
}

h1 {
  font-family: $oswald;
  text-transform: uppercase;
  font-size: 3.76em;
  line-height: 1.18em;
}

.post-author {
  margin-bottom: 35px;
  margin-top: 7px;
  font-size: .8em;

  li{
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 23px;
    vertical-align: middle;
    margin-left: 4px;
  }

}

.post-name {
  color: $light-blue;
  margin-left: 4px;
}

.post-date {
  color: $light-grey;
  margin-left: 11px;
}

.post-date::before {
  content: "on ";
  text-decoration: none;
}

.post-content {
  margin-top: 25px;
}

.post-content:last-child {
  margin-bottom: 20px;
}

.post-options {
  margin-top: 21px;
  margin-left: 4px;
  color: white;
  display: inline-block;
  font-size: .8em;

  li {
    display: inline-block;
    margin-right: 11px;
    height: 30px;
    background-color: $grey;
  }

  img {
    display: inline-block;
    height: 1.6em;
    padding: 8px 5px 0px 8px;
    }

  span {
    display: inline-block;
    background-color: $light-grey;
    color: white;
    padding: 0 13px;
    line-height: 30px;
  }

  li:hover {
    background-color: $dark-blue;;

    span {
      background-color: $light-blue;
    }

  }

}


/* Aside */

aside {
  float: right;
  width: 28%;
  margin-top: 60px;
}

.author {
  text-align: center;
  margin-top: 23px;

  h3 {
    color: $light-blue;
    text-transform: uppercase;
    margin-top: 6px;
    letter-spacing: -1px;
  }

}

.author-social {
  margin-top: -3px;

  li {
    display: inline-block;
    color: $light-grey;
    font-size: .8em;
    padding: 0 6px;
  }

  a {
    text-decoration: none;
  }

}

.ad {
  margin-top: 55px;

  img {
    width: 100%;
  }

  a {
    color: $light-grey;
    font-size: .8em;
    float: right;
    margin-top: 3px;
  }

  a:hover {
    color: $light-blue;
  }

}

.sidebar {
  clear: both;
  margin-top: 64px;

  h3 {
    color: $light-blue;
    text-transform: uppercase;
    font-family: $oswald;
    font-size: 1.1em;
    letter-spacing: -1px;
  }

  p {
    color: $light-grey;
    font-size: .9em;
    margin-top: 5px;
    line-height: 1.7em;
  }

}


/* Most Popular */

section {
  width: 100%;
  clear: both;
  border-top: $light-grey solid 1px;
  padding-top: 34px;
  margin-top: 70px;
  overflow: hidden;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  li {
    display: inline-block;
    float: left;
    height: 330px;
    width: 25%;
    background-color: $light-blue;
    position: relative;
  }

  img {
    opacity: .4;
  }

  a {
    color: $dark-blue;;
    font-family: $oswald;
    font-size: 1.9em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
  }

  li:hover {

    a {
      color: white;
    }

    img {
      opacity: 1;
    }

  }

}


/* Footer */

footer {
  width: 100%;
  height: 100px;
  background-color: $dark-blue;;
  font-size: .8em;

  div {
    height: 100%;
    padding-top: 32px;
  }

  span {
    color: $light-grey;
    vertical-align: middle;
    line-height: 35px;
    font-size: 1.04em;
  }

  img {
    vertical-align: middle;
    margin-right: 12px;
    margin-top: -8px;
  }

  ul {
    color: $light-grey;
    float: right;
  }

  li {
    display: inline;
    color: $light-grey;
    line-height: 35px;
    margin-left: 2px;
  }

  li::after {
    content: "|";
    margin-left: 6px;
  }

  li:last-child::after {
    content: "";
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

}